#app {
	position: relative;
	font-weight: normal;
	width: 100%;
	height: 100%;
}

:root {
	--white-peachy: #f2f0ea;
  --green-blue: #023e47;
  --teal: #045660;
  --tan:#7a5e2f;

	--divider-light-1: rgba(60, 60, 60, 0.29);
	--divider-light-2: rgba(60, 60, 60, 0.12);
	--divider-dark-1: rgba(84, 84, 84, 0.65);
	--divider-dark-2: rgba(84, 84, 84, 0.48);
}
/* semantic color variables for this project */
:root {
	--color-background: var(--white-peachy);
	--color-background-heading: var(--white-peachy);
  --color-background-accent:var(--white-peachy);

	--color-border: var(--divider-light-2);
	--color-border-hover: var(--divider-light-1);
	--color-border-accent: var(--divider-light-2);
	--color-border-accent-hover: var(--divider-light-1);

	--color-heading: var(--green-blue);
  --color-soft-heading: var(--teal);
	--color-text: var(--green-blue);
	--color-hyperlink: var(--tan);
  --color-text-accent:var(--green-blue);
  --color-text-accent-active:var(--green-blue);
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 16px;
  font-size: 13px;
  font-family:
	  'Segoe UI',
	  Roboto,
	  Oxygen,
	  Ubuntu,
	  Cantarell,
	  'Fira Sans',
	  'Droid Sans',
	  'Helvetica Neue',
	  sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
	width: 100%;
	min-height: 60dvh;
}
.container {
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25em;
}
button{
  border: 2px solid var(--color-border);
  background-color: var(--color-background-soft);
  text-align: center;
}
button:hover{
  border: 2px solid var(--color-border-hover);
  background-color: var(--color-background-mute);
}

ol {
  list-style: none;
}

a{
	text-decoration: none;
	color: var(--color-hyperlink);
	transition: 0.4s;
}

strong{
	font-weight: 600;
}

article{
    padding: 0 24px 0 24px;
}
@media (min-width: 800px) {
  body{
	  font-size: 15px;
	  line-height: 19px;
  }
}

@media (min-width: 1000px) {
  body{
	  font-size: 17px;
	  line-height: 26px;
  }
}

@media (min-width: 1200px) {
  body{
	  font-size: 19px;
	  line-height: 32px;
  }
}

@media (hover: hover) {
	a:hover {
		cursor: pointer;
	}
}

